body {
    margin: 0;
    overflow: hidden;
}

canvas {
    display: block;
}

.corner-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 0;
    z-index: 100;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    background-color: white;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.corner-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.corner-btn:active {
    transform: scale(0.95);
}

.top-left {
    top: 2vh;
    left: 2vw;
    background-color: #C8A2C8;
}

.top-right {
    top: 2vh;
    right: 2vw;
    background-color: #2196F3;
}

.bottom-left {
    bottom: 2vh;
    left: 2vw;
    background-color: #FFEB3B;
}

.bottom-right {
    bottom: 2vh;
    right: 2vw;
    background-color: #2196F3;
}

.transition-circle {
    position: absolute;
    border-radius: 50%;
    background-color: #ffffff;
    transform: scale(0);
    pointer-events: none;
    z-index: 200;
    transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}